.heading h1{
  font-family: "Roboto";
  font-size: 48px;
  letter-spacing: -0.7;
  font-weight: bold;
  font-style: italic;
  line-height: 10px;
  text-decoration: #F01A37 underline;
  margin-bottom: 3rem;
}

.heading p{
  font-family: "Roboto";
  font-size: 14px;
  letter-spacing: -0.7;
  margin-top: 6rem;
}

.flexContainer {
  padding: 0;
  margin: 0;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.flexContainerDark {
  padding: 0;
  margin: 0;
  background: #1B1D29;
  color: #FFF;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  

.flexItem {
  padding: 20px;
  width: 380px;
  min-width: 380px;
  height: 380px;
  margin-top: 4rem;
  text-align: left;
  min-width: 300px;

}

.flexItem img {
  display: flex;
  width:380px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.flexItem h2{
  line-height: 42px;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 32px;
}

.flexItem p{
  font-family: "Roboto Mono";
  font-size: 17px;
  line-height: 26px;
}

a:link{
  color: #F01A37;
  letter-spacing: 1.5px;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
  background: linear-gradient(to right, crimson, pink, springgreen);
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip:text;
  display:block;
  transition: color .2s ease-in-out;
}

a:hover{
  color: rgba(0,0,0,0);
  font-family: "Roboto";
  font-weight: bold;
  font-size: 17px;
}

a:visited{
  color:#F01A37;
}

@keyframes rainbow { 
  0%{background-position:left}
  50%{background-position:right}
  100%{background-position:left}
}
