.underline {
  font-family: "Roboto";
  font-size: 48px;
  letter-spacing: -0.7;
  font-weight: bold;
  font-style: italic;
  text-decoration: red underline;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.flexNews {
  outline: 1px solid white;
  padding: 0;
  margin: 0;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-flow: row;
}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  

.flexItem {
  padding: 5px;
  width: 320px;
  height: 380px;
  margin: 3rem;
  text-align: left;
}

.flexItem img {
	justify-content: center;
	width: 100%;
}

.flexItem h2{
  line-height: 28px;
  color: black;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 24px;
  margin-right: 12px;
  margin-left: 12px;
}

.flexItem h3{
  line-height: 10px;
  color: black;
  font-family: "Roboto Mono";
  font-weight: Regular;
  font-size: 14px;
  margin-right: 12px;
  margin-left: 12px;
}

.flexItem .date {
  position: absolute;
  margin-top: 7px;
  margin-left: 5px;
  padding: 5px;
  background: white;
  width: 3.5em;
  color: #000;
  font: Roboto;
}

.flexNews a:link{
  color: black;
  line-height: 28px;
  color: black;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  background: linear-gradient(to right, crimson, pink, aqua);
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip:text;
  display:block;
  transition: color .2s ease-in-out;
}

.flexNews a:hover{
  color: rgba(0,0,0,0);
}

.flexNews a:visited{
  color:#F01A37;
}

@keyframes rainbow { 
  0%{background-position:left}
  50%{background-position:right}
  100%{background-position:left}
}
