.underline {
  font-family: "Roboto";
  font-size: 48px;
  letter-spacing: -0.7;
  font-weight: bold;
  font-style: italic;
  text-decoration: red underline;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.flexContainer {
  outline: 1px solid white;
  padding: 0;
  margin: 0;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-flow: row;
}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  

.flexItem {
  padding: 5px;
  width: 320px;
  height: 380px;
  margin: 3rem;
  text-align: left;
}

.flexItem img {
	justify-content: center;
	width: 100%;
}

.flexItem h2{
  line-height: 28px;
  color: black;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 24px;
  margin-right: 12px;
  margin-left: 12px;
}

.flexItem h3{
  line-height: 10px;
  color: black;
  font-family: "Roboto Mono";
  font-weight: Regular;
  font-size: 14px;
  margin-right: 12px;
  margin-left: 12px;
}

.flexItem .date {
  position: absolute;
  margin-top: 7px;
  margin-left: 5px;
  padding: 5px;
  background: white;
  width: 3.5em;
  color: #000;
  font: Roboto;
}