.heading h1{
  font-family: "Roboto";
  font-size: 24px;
  letter-spacing: -0.7;
  font-weight: bold;
  margin-top: 100px;
  line-height: 50px;
}

.heading p{
  font-family: "Roboto";
  font-size: 14px;
  letter-spacing: -0.7;
}

.calculator {
  margin: auto;
  margin-bottom: 50px;
  background: white;
  width: 550px;
  padding: 50px;
  box-shadow: -8px 8px 20px 0px #EDEDED;
}

.flexContainer {
  padding: 0;
  margin: 0;
  background: white;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}

.flexColumn {
  padding: 0;
  margin: 0;
  flex-flow: column nowrap;
  display: flex;
}

.flexItem {
  display: flex;
}

.flexOutputGas {
  flex-flow: column nowrap;
  display: flex;
  background: #EFF0F8;
  min-height: 70px;
  max-height: 70px;
  width: 200px;
  margin: auto;
}

.flexOutputGas .result{
  font-family: "Roboto";
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
}

.flexOutputGas .description{
  font-family: "Roboto Mono";
  font-size: 14px;
  font-weight: thin;
}

.flexOutputDelta {
  padding: 0;
  margin: 0;
  flex-flow: column nowrap;
  display: flex;
  background: pink;
  max-height: 155px;
  min-height: 155px;
  width: 328px;
}

.flexOutputDelta .result {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 58px;
  margin-top: 30px;
}

.flexOutputDelta .description {
  font-family: "Roboto Mono";
  font-size: 14px;
  font-weight: thin;
}

.form {
  display: flex; 
  margin-bottom: 40px;
  flex-flow: column;
  
}

.input {
  font-family: "Roboto Mono";
  font-size: 14px;
  width: 100%;
  background: #DFE1F1;
  height: 50px;
  margin-top: 10px;
  border: hidden;
  border-bottom: 1px solid #334659;
}

.test {
  background: pink;
}

.btnSolid {
  padding: 8px;
  color: white;
  background: #F01A37;
  font-family: "Roboto";
  font-weight: bold;
  width: 100%;
  font-size: 14px;
  border:none;
}

.btnSolid:active {
  background: black; 
}

.btnOutline {
  padding: 8px;
  color: black;
  background: white;
  font-family: "Roboto";
  font-weight: bold;
  width: 100%;
  font-size: 14px;
  border: 1px solid black;
}


