.componentBody {
	font-family: 'Roboto', sans-serif;
	line-height: 1.6;
	margin: 0;
}

.componentBody ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


.componentBody h2,
.componentBody h3,
.componentBody a {
	color: #F01A37;
}

.componentBody a {
	text-decoration: none;
}

.logo {
	margin: 0;
	font-size: 1.45em;
}

.logo a,
.mobileNav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.mobileNav {
	padding: 100px;
	background: #fff;
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
}

.desktopNav {
	display: none;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: .5em;
	padding-bottom: .5em;
	background-color: transparent;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.burger {
	display: block;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 900px) {
	.header {
		flex-flow: row nowrap;
		justify-content: space-between;
	}

	.burger {
		display: none;
	}

}


@media (min-width: 900px) {
	.desktopNav {
		display: block;
		background: pink;
	}
}