.footer {
  background-color: white;
  color: #f01a37;
  margin-top: 250px;
}

.footer h1 {
  font-size: 32px;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
}

.footer li {
  color: black;
  list-style-type: none;
  padding: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.flexContainer {
  border-top: 2px solid #e5e5e5;
  padding: 0;
  margin: 50px;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.bottomBar {
  padding: 10px;
  background: black;
  height: 100px;
  text-indent: 100px;
  text-align: left;
  line-height: 80px;
  color: white;
}

.flexItem {
  padding: 15px;
  display: flex;
  width: 350px;
  flex-flow: column;
}

.flexContainer a:link {
  color: black;
  letter-spacing: 1px;

  font-size: 17px;
  text-decoration: none;
  display: block;
  transition: color 0.2s ease-in-out;
}

.flexContainer a:hover {
  color: rgba(0, 0, 0, 0);
  font-size: 17px;
}

.flexContainer a:visited {
  color: black;
}
