@import "../../styles/global.module.scss";

.body {
  text-align: left;
  padding: 20px;
  margin: 50px;
}

@media screen and (min-width: 768px) {
  .header,
  .body {
    margin-left: 150px;
    margin-right: 150px;
  }
}

.body h1 {
  font-size: 24px;
}

.body p {
  font-family: $fontSecondary;
  font-size: 17px;
}
