$brandColor: #f01a37;

$fontPrimary: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$fontSecondary: "Roboto Mono", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$fontSerif: "Cormorant Garamond", serif;
