.quoteSection {
	background: #1B1D29;
	color: white;
    flex-flow: row;

}

.quote {
	max-width: 800px;
	display: inline-block;
	align-content: center;
	line-height: 40px;
	padding-bottom: 5rem;
}

.quote img {
	height: 40px;
}

.quotationMark {
	position: absolute;
	margin-top: -15rem;
	margin-left: 10rem;
}

.quote h1 {
	font-family: "Roboto";
	font-size: 24px;
	font-weight: 400;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: -200px;
}

.flexContainer {
	display: inline-flex;
	max-width: 800px;
	flex-flow: row wrap;
	margin: 20px;
}

.flexItem {
	display: inline-block;
	font-family: "Roboto Mono";
	font-size: 17px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	margin-right: 10px;
}

.flexItem img {
	height: 70px;
}

.logo img{
	position: relative;
	height: 200px;
	width: 150px;
	margin-left: 15rem;
	margin-top: -2.4rem;
	overflow: hidden;
	flex-flow: row wrap;
	display: flex;
}