@import "../../styles/variables";

.hero {
  display: flex;
  align-items: center;
  position: relative;
  background: white;
  justify-content: center;
  height: 100vh;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 1024px) {
  .hero {
    height: calc(100vh - 50px);
  }
  .hero .bg {
    background-image: url("./hero.svg");
    background-position: right bottom;
    background-repeat: no-repeat;
    height: 50vw;
    width: 50vw;
    right: 0;
    bottom: 0;
    position: absolute;
  }
}

.hero p {
  font-family: $fontPrimary;
  font-size: 1.25rem;
  line-height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.welcomeMessage {
  font-family: $fontSerif;
  text-align: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
}
